/*variables*/
:root {
  --azul: #0d4ba3;
  --naranja: #dc6424;
  --white: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 16px; /*1rem = 10px*/
  width: 100%;
  zoom: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--azul);
  line-height: 1.5;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: var(--naranja);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.header-content__img {
  width: 20rem;
}

.header-content__title {
  text-align: center;
}

/*navbar*/
.nav {
  margin: 2rem 0 0;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--azul);
  padding: 0.5rem;
  border-top: 0.3rem solid var(--naranja);
  border-bottom: 0.3rem solid var(--naranja);
  box-shadow: 0px 0px 22px 7px rgb(220, 100, 36);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar__link {
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
  }
}
.navbar__link {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--naranja);
  font-size: 2.5rem;
}

.navbar__link:hover {
  background-color: var(--naranja);
  color: var(--azul);
  transition: 0.5s ease;
}

.navbar__link--active {
  background-color: var(--naranja);
  color: var(--azul);
}

main {
  padding: 5rem 0;
  background-image: url(/img/localafuera_desenfocado.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  background-color: var(--azul);
}

/*Sobre nosotros*/
.about {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  border-bottom: 0.3rem solid var(--naranja);
  padding: 3rem 3rem;
  border-radius: 5rem;
}

.about__title {
  grid-column: 1/3;
  font-size: 4rem;
}

.about__text {
  color: var(--white);
  font-size: 2.3rem;
}

.about__img {
  width: 30rem;
  border: 0.3rem solid var(--naranja);
  border-radius: 1rem;
}

/*mediaqueries sobre nosotros*/
@media (max-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
    border-bottom: 0.3rem solid var(--naranja);
    justify-items: center;
  }
  .about__title {
    grid-column: 1/2;
    font-size: 3rem;
  }
  .about__img {
    grid-row: 2/3;
  }
  .about__text {
    color: var(--white);
    font-size: 2rem;
    text-align: justify;
  }
}
/*Vista previa del catalogo*/
.catalogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background: none;
}

.catalogo__title {
  font-size: 4rem;
  color: var(--white);
  text-align: center;
}

.catalogo__items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3rem solid var(--naranja);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--azul);
  box-shadow: 0px 0px 0px -200px rgb(220, 100, 36);
}

.item:hover {
  box-shadow: 0px 0px 19px 5px rgb(220, 100, 36);
  transition: 0.3s ease;
}

.item__img {
  width: 15rem;
  height: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;
  border: 0.3rem solid var(--naranja);
}

.item__img--interior {
  background-image: url(/img/interior.jpg);
}

.item__img--combos {
  background-image: url(/img/combos.jpg);
}

.item__img--exterior {
  background-image: url(/img/exterior.jpg);
}

.item__text {
  cursor: default;
}

.catalogo__btn {
  width: 30%;
  border: 0.3rem solid var(--naranja);
  border-radius: 1rem;
  color: var(--naranja);
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(13, 75, 163, 0.4);
}

.catalogo__btn:hover {
  background-color: var(--naranja);
  color: var(--azul);
  transition: 0.5s ease;
}

@media (max-width: 768px) {
  .catalogo__items {
    justify-content: space-between;
  }
  .catalogo__btn {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .catalogo__title {
    font-size: 3.5rem;
  }
  .catalogo__items {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-content: space-around;
  }
  .item--combos {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
@media (max-width: 480px) {
  .catalogo__title {
    font-size: 3rem;
  }
  .catalogo__items {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    justify-content: space-around;
    justify-items: center;
  }
  .item {
    width: -moz-max-content;
    width: max-content;
  }
  .item--combos {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
/*Seccion de contacto*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-bottom: 0.3rem solid var(--naranja);
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  border-top: 0.3rem solid var(--naranja);
}

.contact__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact__redes {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 480px) {
  .contact__title {
    font-size: 3rem;
  }
  .contact__redes {
    width: 80%;
  }
}
.red {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}

.red__item {
  font-size: 4rem;
  color: #fd8b4d;
  font-weight: bold;
}

.red__item:hover {
  color: var(--naranja);
  transition: 0.3s ease;
}

@media (max-width: 480px) {
  .red__item {
    font-size: 3rem;
  }
}
/*Seccion ubicacion*/
.ubicacion {
  padding: 3rem;
  display: flex;
  gap: 5rem;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3rem solid var(--naranja);
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.ubicacion__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ubicacion__text--title {
  font-size: 3rem;
  text-align: center;
}

.ubicacion__text--horarios {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

iframe {
  width: 400px;
  height: 300px;
}

/*mediaqueries ubicacion*/
@media (max-width: 768px) {
  .ubicacion {
    flex-direction: column;
  }
  iframe {
    width: 100%;
  }
}
/*Footer*/
.footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border-top: 0.3rem solid var(--naranja);
  padding: 0.5rem;
}

.footer__text {
  color: var(--white);
  text-align: center;
}

/*Catalogo*/
.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-bottom: 0.3rem solid var(--naranja);
}

.seccion:first-of-type {
  border-top: 0.3rem solid var(--naranja);
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
}

.seccion:last-of-type {
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.seccion__items {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-items: center;
}

.product {
  background-color: var(--naranja);
  width: 18rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
}

.imagen {
  background-image: url(/img/interior.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.imagen--exterior {
  background-image: url(/img/exterior.jpg);
}

.imagen--combos {
  background-image: url(/img/combos.jpg);
}

.product__text {
  color: var(--white);
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */